<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Make yourself happy!!</title>
</head>

<body>
  <div class="container">
    <h1>Let's have a joke by the word you want ✌️</h1>

    <form action="/" id="form" class="form" method="POST">
      <select name="flags" class="form-select">
        <option value="" data-display="Select">Select flags to blacklist:</option>
        <option value="Nsfw">Nsfw</option>
        <option value="religious">religious</option>
        <option value="political">political</option>
        <option value="racist">racist</option>
        <option value="sexist">sexist</option>
        <option value="explicit">explicit</option>
      </select>

      <select name="category/categories" class="form-select">
        <option value="Any" data-display="Select">Select category / categories:</option>
        <option value="Programming">Programming</option>
        <option value="Miscellaneous">Misc</option>
        <option value="Dark">Dark</option>
        <option value="Pun">Pun</option>
        <option value="Spooky">Spooky</option>
        <option value="Christmas">Christmas</option>
      </select>

      <select name="language" class="form-select">
      <option value="en" data-display="Select">English</option>
        <option value="cs">Czech</option>
        <option value="de">german</option>
        <option value="es">Spanish</option>
        <option value="fr">French</option>
        <option value="pt">portuguese</option>
      </select>

      <input type="text" name="search_string" id="String" placeholder="Search for a joke that
      contains this search string:">
      <button type="submit" class="form-submit">Send request</button>
    </form>
   
  </div>

</body>

</html>